header{
    background-color: rgb(209, 185, 185);
    
}

.caja{
    display: block;
    clear: both;
    font-family: cursive;
    padding: 6px;    
}
nav{
    background-color:rgb(184, 184, 209);
    padding: 12px;
}
section{
    float: left;
    width: 77%;
    background-color:rgb(235, 113, 113);
}
aside{
    float: left;
    width: 23%;
    background-color: ghostwhite;
    
}
footer{
    background-color:rgb(134, 184, 134);
    padding: 12px;

}
.contenedor::after{
    content: "";
    display: block;
    clear: both;
}
