body{
    margin: 0;
    padding: 0;
}
.caja{
    display: block;
    clear: both;
    font-family: cursive;
    padding: 6px;    
}
nav{
    background-color: rgba(183, 197, 61, 0.932);
    padding: 12px;
}
.izquierdo{
    background-color: burlywood;
    width: 50%;
    height: 125vh;
}

.derecho{
    background:url(fondo.jpg);
    background-size: auto;
    background-position: center;
    width: 50%;
    height: 125vh;      
}
#pantalla-dividida{
    display: flex;
}
